.settings-avatar {
  @apply cursor-pointer bg-gray-300 text-[#e61747] font-bold border-[#0d2845];
  verticalalign: "middle";
}

.settings-container {
  @apply w-64 text-left rtl:text-right;
}

.settings-list {
  @apply grid px-3.5 py-3.5 font-medium text-gray-700;
}

.settings-link {
  @apply flex items-center;
  @apply rounded-md;
  @apply my-0.5 px-2.5 py-2;
  @apply hover:bg-gray-100 hover:dark:bg-gray-50/50;
  @apply focus:outline-none;
}

.logout-container {
  @apply border-t border-gray-300;
  @apply px-6 pb-6 pt-5;
}

.logout-button {
  @apply h-auto w-full;
  @apply font-medium text-gray-700 focus-within:text-gray-600;
}

.custom-button:hover {
  color: #e61747 !important;
  border-color: #e61747 !important;
}
